:host {
  display: inline-block;
  min-width: 96px;
}

.app-select-trigger {
  position: relative;
  display: inline-block;
  width: 100%;
  border-style: solid;
  border-color: #999;

  .chevron-down {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
  }
}
