.app-estate-list {
  .estate-list-section {
    .estate-list {
      padding-right: 3rem;

      ul {
        --flow-spacing-y: 2.5rem;
      }

      &-pagination {
        display: flex;
        justify-content: center;
        margin-block: 1rem;
      }
    }
  }
}

.estate-list-pagination-section {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}
