:host {
  display: block;
  position: absolute;
  bottom: 2em;
  right: 2em;
  width: 35%;
}

.app-carousel-preview {
  height: 50px;
  display: flex;
  gap: 1em;
}

@media (max-width: 900px) {
  :host {
    width: 90%;
    bottom: 5em;
  }
}
