:host {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.app-carousel-caption {
  position: relative;
  top: 0;
  width: 100%;
  height: 64px;
  text-align: center;
  will-change: transform;

  p {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 900px) {
  .app-carousel-caption {
    p {
      font-size: 30px;
    }
  }
}
