:host {
  display: inline-flex;
}

.app-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &-base {
    min-width: 72px;
    height: 48px;
    padding: 0.75rem 1.5rem;
  }

  &-icon {
    width: 24px;
    height: 24px;

    &-md {
      width: 48px;
      height: 48px;
    }
  }

  &-contained {
    background-color: var(--button-contained-color, #fece51);

    &-primary {
      --button-contained-color: #fece51;
    }
  }

  &-outlined {
    border: 1px solid var(--button-outlined-color, #999);
    border-radius: 4px;

    &-primary {
      --button-outlined-color: #999;
    }
  }

  &-text {
    &:hover {
      background-color: var(--button-text-color, transparent);
    }
  }

  &-w-full {
    width: 100%;
  }

  &-h-full {
    height: 100%;
  }
}
