<form class="estate-search-bar" [formGroup]="estateSearchFormGroupModel">
  <ng-container *ngFor="let formField of estateSearchFormFields">
    <app-form-field [control]="formField.control">
      <app-form-item appFillUpSpace [wFull]="true" [hFull]="true">
        <app-form-control appFillUpSpace [wFull]="true" [hFull]="true">
          <app-input
            [type]="formField.type"
            class="estate-search-input"
            [placeholder]="formField.placeholder"
            appFillUpSpace
            [wFull]="true"
            [hFull]="true"
          />
        </app-form-control>
      </app-form-item>
    </app-form-field>
  </ng-container>

  <app-button
    type="submit"
    variant="contained"
    color="primary"
    size="icon-lg"
    class="search-button"
    [wFull]="true"
  >
    <img class="search-icon" src="assets/search.png" alt="search icon" />
  </app-button>
</form>
