<form class="estate-search-bar" [formGroup]="estateSearchForm">
  <app-form-field [control]="locationFormControl">
    <app-form-item>
      <app-form-control>
        <app-input
          class="estate-search-input"
          placeholder="City Location"
          [wFull]="true"
          [hFull]="true"
        />
      </app-form-control>
    </app-form-item>
  </app-form-field>

  <app-form-field [control]="minPriceFormControl">
    <app-form-item>
      <app-form-control>
        <app-input
          type="number"
          class="estate-search-input"
          placeholder="Min Price"
          [wFull]="true"
          [hFull]="true"
        />
      </app-form-control>
    </app-form-item>
  </app-form-field>

  <app-form-field [control]="maxPriceFormControl">
    <app-form-item>
      <app-form-control>
        <app-input
          type="number"
          class="estate-search-input"
          placeholder="Max Price"
          [wFull]="true"
          [hFull]="true"
        />
      </app-form-control>
    </app-form-item>
  </app-form-field>

  <app-button
    type="submit"
    variant="contained"
    color="primary"
    size="icon-md"
    class="search-button"
    [wFull]="true"
  >
    <img class="search-icon" src="assets/search.png" alt="search icon" />
  </app-button>
</form>
