<section class="app-home-hero flex-3-2">
  <div class="app-home-hero-text">
    <div class="app-home-hero-text-paper flow-spacer-y">
      <app-typography variant="h1" displayAs="h1"
        >Find Real Estate & Get Your Dream Place</app-typography
      >
      <app-typography variant="body" displayAs="p"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
        itaque voluptas molestiae laudantium velit harum voluptate accusamus
        impedit voluptatum maiores natus aperiam voluptatem at consectetur ut
        pariatur? Dolorum, ad architecto!</app-typography
      >
      <app-home-hero-estate-search-bar />
      <div class="app-home-hero-achievements">
        @for (item of achievements; track $index) {
        <div class="achievement">
          <app-typography variant="h3" displayAs="h4">{{
            item.statistics
          }}</app-typography>
          <app-typography variant="h4" displayAs="h3">{{
            item.statisticsOf
          }}</app-typography>
        </div>
        }
      </div>
      <app-tabs>
        <app-tab-container>
          <app-tab for="tab-test-1">tab-1</app-tab>
          <app-tab for="tab-test-2">tab-2</app-tab>
        </app-tab-container>
        <app-tab-content-container>
          <app-tab-content id="tab-test-1">tab content-1</app-tab-content>
          <app-tab-content id="tab-test-2">tab content-2</app-tab-content>
        </app-tab-content-container>
      </app-tabs>
    </div>
  </div>
  <div class="app-home-hero-image">
    <img src="assets/bg.png" alt="home hero image" />
  </div>
</section>
