:host {
  display: block;
}

.estate-search-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr) auto;
  row-gap: 0.75rem;
  column-gap: 1.5rem;

  .form-field {
    &-location {
      grid-column: 1 / 7;
    }
  }

  app-button[type="submit"] {
    align-self: flex-end;
  }
}
