@use "../../mixins/responsive.scss" as *;

.app-typography {
  &-h1 {
    font-size: 64px;
    font-weight: bold;

    @include lg {
      font-size: 48px;
    }
  }

  &-h3 {
    font-size: 36px;
    font-weight: bold;

    @include lg {
      font-size: 32px;
    }
  }

  &-h4 {
    font-size: 20px;
  }

  &-h4Bold {
    font-size: 20px;
    font-weight: 700;
  }

  &-label {
    font-size: 14px;
  }

  &-labelBold {
    font-size: 14px;
    font-weight: 700;
  }
}
